In [27]:
import pandas as pd
import numpy as np
import geopandas as gpd
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score, mean_absolute_error, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, Normalizer
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.neighbors import KNeighborsRegressor
from sklearn.cluster import KMeans, AgglomerativeClustering, DBSCAN

In [38]:
datos = pd.read_csv("20220617_NEM_PERCENTILES_JOVENES_2021_20220530_PUBL.csv", sep=";")

In [39]:
datos

,RBD,COD_DEPE,AGNO_EGRESO,MRUN,NEM,PERCENTIL,PUESTO_10,PUESTO_30
0,8424,1,2021,122,"5,78",30,NO,SI
1,2200,4,2021,163,"6,85",20,NO,SI
2,40023,4,2021,164,"6,53",40,NO,NO
3,8923,4,2021,429,"6,7",60,NO,NO
4,10500,3,2021,488,"5,3",60,NO,NO
...,...,...,...,...,...,...,...,...
207697,286,1,2021,27072968,"6,2",10,SI,NO
207698,109,1,2021,27072971,"5,03",90,NO,NO
207699,106,5,2021,27072972,"5,33",80,NO,NO
207700,11831,1,2021,27072973,"6,08",20,NO,SI
207701,25577,3,2021,27072974,"6,45",10,SI,NO

In [40]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207702 entries, 0 to 207701
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   RBD          207702 non-null  int64
 1   COD_DEPE     207702 non-null  int64
 2   AGNO_EGRESO  207702 non-null  int64
 3   MRUN         207702 non-null  int64
 4   NEM          207702 non-null  object
 5   PERCENTIL    207702 non-null  int64
 6   PUESTO_10    207702 non-null  object
 7   PUESTO_30    207702 non-null  object
dtypes: int64(5), object(3)
memory usage: 12.7+ MB

In [41]:
datos["RBD"] = datos["RBD"].astype("category")
datos["NEM"] = datos["NEM"].str.replace(",",".")
datos["NEM"] = datos["NEM"].astype(np.float64)

In [42]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207702 entries, 0 to 207701
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   RBD          207702 non-null  category
 1   COD_DEPE     207702 non-null  int64
 2   AGNO_EGRESO  207702 non-null  int64
 3   MRUN         207702 non-null  int64
 4   NEM          207702 non-null  float64
 5   PERCENTIL    207702 non-null  int64
 6   PUESTO_10    207702 non-null  object
 7   PUESTO_30    207702 non-null  object
dtypes: category(1), float64(1), int64(4), object(2)
memory usage: 11.6+ MB

In [43]:
agrupacion_promedios = datos.groupby(by = "RBD").mean().reset_index()

In [44]:
directorio = pd.read_csv("Directorio_Oficial_EE_2021.csv", sep=";")

In [45]:
directorio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16498 entries, 0 to 16497
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AGNO            16498 non-null  int64
 1   RBD             16498 non-null  int64
 2   DGV_RBD         16498 non-null  int64
 3   NOM_RBD         16468 non-null  object
 4   MRUN            16498 non-null  object
 5   RUT_SOSTENEDOR  16498 non-null  object
 6   P_JURIDICA      16498 non-null  int64
 7   COD_REG_RBD     16498 non-null  int64
 8   NOM_REG_RBD_A   16498 non-null  object
 9   COD_PRO_RBD     16498 non-null  int64
 10  COD_COM_RBD     16498 non-null  int64
 11  NOM_COM_RBD     16498 non-null  object
 12  COD_DEPROV_RBD  16498 non-null  int64
 13  NOM_DEPROV_RBD  16498 non-null  object
 14  COD_DEPE        16498 non-null  int64
 15  COD_DEPE2       16498 non-null  int64
 16  RURAL_RBD       16498 non-null  int64
 17  LATITUD         16498 non-null  object
 18  LONGITUD        16498 non-null  object
 19  CONVENIO_PIE    16498 non-null  int64
 20  ENS_01          16498 non-null  int64
 21  ENS_02          16498 non-null  int64
 22  ENS_03          16498 non-null  int64
 23  ENS_04          16498 non-null  int64
 24  ENS_05          16498 non-null  int64
 25  ENS_06          16498 non-null  int64
 26  ENS_07          16498 non-null  int64
 27  ENS_08          16498 non-null  int64
 28  ENS_09          16498 non-null  int64
 29  ENS_10          16498 non-null  int64
 30  ENS_11          16498 non-null  int64
 31  MATRICULA       16498 non-null  int64
 32  ESTADO_ESTAB    16498 non-null  int64
 33  ORI_RELIGIOSA   16498 non-null  int64
 34  ORI_OTRO_GLOSA  16498 non-null  object
 35  PAGO_MATRICULA  16498 non-null  object
 36  PAGO_MENSUAL    16498 non-null  object
dtypes: int64(26), object(11)
memory usage: 4.7+ MB

In [46]:
directorio = directorio[directorio["NOM_RBD"].str.contains("JARDIN+|SALA CUNA+", regex=True) == False]

In [47]:
directorio["LONGITUD"] = directorio["LONGITUD"].replace(" ", np.nan)
directorio["LATITUD"] = directorio["LATITUD"].replace(" ", np.nan)
directorio.dropna()
directorio["LONGITUD"] = directorio["LONGITUD"].str.replace(",",".").astype(np.float64)
directorio["LATITUD"] = directorio["LATITUD"].str.replace(",",".").astype(np.float64)

In [48]:
directorio

,AGNO,RBD,DGV_RBD,NOM_RBD,MRUN,RUT_SOSTENEDOR,P_JURIDICA,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,...,ENS_08,ENS_09,ENS_10,ENS_11,MATRICULA,ESTADO_ESTAB,ORI_RELIGIOSA,ORI_OTRO_GLOSA,PAGO_MATRICULA,PAGO_MENSUAL
0,2021,1,9,LICEO POLITECNICO ARICA,,62000660,1,15,AYP,151,...,0,0,0,0,1,1,2,,GRATUITO,GRATUITO
1,2021,2,7,PARVULARIO LAS ESPIGUITAS,,62000660,1,15,AYP,151,...,0,0,0,0,1,1,2,,GRATUITO,GRATUITO
2,2021,3,5,ESC. PEDRO VICENTE GUTIERREZ TORRES,,62000660,1,15,AYP,151,...,0,0,0,0,1,1,1,,GRATUITO,GRATUITO
3,2021,4,3,LICEO OCTAVIO PALMA PEREZ,,62000660,1,15,AYP,151,...,0,0,0,0,1,1,1,,GRATUITO,GRATUITO
4,2021,5,1,JOVINA NARANJO FERNANDEZ,,62000660,1,15,AYP,151,...,0,0,0,0,1,1,7,PLURALISTA,GRATUITO,GRATUITO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16485,2021,41911,7,ESCUELA DE LENGUAJE RUCAKUYÉN,,65095013,1,8,BBIO,81,...,0,0,0,0,0,1,9,,SIN INFORMACION,SIN INFORMACION
16489,2021,41916,8,ESCUELA HOSPITALARIA SAN ANTONIO,,65142404,1,5,VALPO,56,...,0,0,0,0,0,1,1,,SIN INFORMACION,SIN INFORMACION
16490,2021,41917,6,ESCUELA HOSPITALARIA SAN FRANCISCO,,65193679,1,5,VALPO,57,...,0,0,0,0,0,1,9,,GRATUITO,GRATUITO
16492,2021,41919,2,COLEGIO HODGKINSON,,53334410,1,6,LGBO,61,...,0,0,0,0,0,1,9,,SIN INFORMACION,SIN INFORMACION
16495,2021,41924,9,ESCUELA DE LENGUAJE EL ROBLE,,65193619,1,8,BBIO,81,...,0,0,0,0,0,4,9,,SIN INFORMACION,SIN INFORMACION

In [49]:
localizaciones = gpd.GeoDataFrame(directorio, geometry= gpd.points_from_xy(directorio["LONGITUD"], directorio["LATITUD"]), crs=4326)

In [52]:
conjunto = localizaciones.merge(agrupacion_promedios, on = "RBD")

In [53]:
conjunto.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 2959 entries, 0 to 2958
Data columns (total 43 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AGNO            2959 non-null   int64
 1   RBD             2959 non-null   object
 2   DGV_RBD         2959 non-null   int64
 3   NOM_RBD         2959 non-null   object
 4   MRUN_x          2959 non-null   object
 5   RUT_SOSTENEDOR  2959 non-null   object
 6   P_JURIDICA      2959 non-null   int64
 7   COD_REG_RBD     2959 non-null   int64
 8   NOM_REG_RBD_A   2959 non-null   object
 9   COD_PRO_RBD     2959 non-null   int64
 10  COD_COM_RBD     2959 non-null   int64
 11  NOM_COM_RBD     2959 non-null   object
 12  COD_DEPROV_RBD  2959 non-null   int64
 13  NOM_DEPROV_RBD  2959 non-null   object
 14  COD_DEPE_x      2959 non-null   int64
 15  COD_DEPE2       2959 non-null   int64
 16  RURAL_RBD       2959 non-null   int64
 17  LATITUD         2958 non-null   float64
 18  LONGITUD        2958 non-null   float64
 19  CONVENIO_PIE    2959 non-null   int64
 20  ENS_01          2959 non-null   int64
 21  ENS_02          2959 non-null   int64
 22  ENS_03          2959 non-null   int64
 23  ENS_04          2959 non-null   int64
 24  ENS_05          2959 non-null   int64
 25  ENS_06          2959 non-null   int64
 26  ENS_07          2959 non-null   int64
 27  ENS_08          2959 non-null   int64
 28  ENS_09          2959 non-null   int64
 29  ENS_10          2959 non-null   int64
 30  ENS_11          2959 non-null   int64
 31  MATRICULA       2959 non-null   int64
 32  ESTADO_ESTAB    2959 non-null   int64
 33  ORI_RELIGIOSA   2959 non-null   int64
 34  ORI_OTRO_GLOSA  2959 non-null   object
 35  PAGO_MATRICULA  2959 non-null   object
 36  PAGO_MENSUAL    2959 non-null   object
 37  geometry        2959 non-null   geometry
 38  COD_DEPE_y      2959 non-null   float64
 39  AGNO_EGRESO     2959 non-null   float64
 40  MRUN_y          2959 non-null   float64
 41  NEM             2959 non-null   float64
 42  PERCENTIL       2959 non-null   float64
dtypes: float64(7), geometry(1), int64(25), object(10)
memory usage: 1017.2+ KB

In [54]:
conjunto.columns

Index(['AGNO', 'RBD', 'DGV_RBD', 'NOM_RBD', 'MRUN_x', 'RUT_SOSTENEDOR',
       'P_JURIDICA', 'COD_REG_RBD', 'NOM_REG_RBD_A', 'COD_PRO_RBD',
       'COD_COM_RBD', 'NOM_COM_RBD', 'COD_DEPROV_RBD', 'NOM_DEPROV_RBD',
       'COD_DEPE_x', 'COD_DEPE2', 'RURAL_RBD', 'LATITUD', 'LONGITUD',
       'CONVENIO_PIE', 'ENS_01', 'ENS_02', 'ENS_03', 'ENS_04', 'ENS_05',
       'ENS_06', 'ENS_07', 'ENS_08', 'ENS_09', 'ENS_10', 'ENS_11', 'MATRICULA',
       'ESTADO_ESTAB', 'ORI_RELIGIOSA', 'ORI_OTRO_GLOSA', 'PAGO_MATRICULA',
       'PAGO_MENSUAL', 'geometry', 'COD_DEPE_y', 'AGNO_EGRESO', 'MRUN_y',
       'NEM', 'PERCENTIL'],
      dtype='object')

In [55]:
datos_compacto_2021 = conjunto[['AGNO', 'RBD', 'NOM_RBD', 'COD_REG_RBD', 'COD_PRO_RBD', 'COD_COM_RBD', 'NOM_COM_RBD', 'NEM', 'geometry', 'AGNO_EGRESO']]

In [57]:
datos_compacto_2021

,AGNO,RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,NEM,geometry,AGNO_EGRESO
0,2021,1,LICEO POLITECNICO ARICA,15,151,15101,ARICA,5.488641,POINT (-70.29521 -18.48720),2021.0
1,2021,4,LICEO OCTAVIO PALMA PEREZ,15,151,15101,ARICA,6.200546,POINT (-70.30827 -18.47424),2021.0
2,2021,5,JOVINA NARANJO FERNANDEZ,15,151,15101,ARICA,6.240480,POINT (-70.31345 -18.47690),2021.0
3,2021,7,L. POLI. ANTONIO VARAS DE LA BARRA,15,151,15101,ARICA,5.617087,POINT (-70.28837 -18.47615),2021.0
4,2021,8,COLEGIO INTEGRADO EDUARDO FREI MONTALVA,15,151,15101,ARICA,5.612941,POINT (-70.31758 -18.48249),2021.0
...,...,...,...,...,...,...,...,...,...,...
2954,2021,41617,COLEGIO SAN FRANCISCO TECNICO PROFESIONAL,13,131,13114,LAS CONDES,5.669474,POINT (-70.53654 -33.40387),2021.0
2955,2021,41658,COLEGIO EINSTEIN,8,81,8102,CORONEL,6.008065,POINT (-73.16239 -36.97181),2021.0
2956,2021,41702,COLEGIO PRESTON SCHOOL,8,81,8112,HUALPÉN,6.018649,POINT (-73.10917 -36.79871),2021.0
2957,2021,41780,COLEGIO ALICANTO,3,31,3101,COPIAPÓ,5.721875,POINT (-70.29635 -27.39141),2021.0
2958,2021,41899,COLEGIO SAN JORGE,8,83,8304,LAJA,6.578889,POINT (-72.70880 -37.28291),2021.0

In [14]:
conjunto[conjunto["NOM_RBD"].str.contains("JOSE MIGUEL CARRERA+",regex=True)==True]

,AGNO,RBD,DGV_RBD,NOM_RBD,MRUN_x,RUT_SOSTENEDOR,P_JURIDICA,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,...,ESTADO_ESTAB,ORI_RELIGIOSA,ORI_OTRO_GLOSA,PAGO_MATRICULA,PAGO_MENSUAL,COD_DEPE_y,AGNO_EGRESO,MRUN_y,NEM,PERCENTIL
110,2021,535,5,COLEGIO JOSE MIGUEL CARRERA,,70892100,1,4,COQ,41,...,1,1,,GRATUITO,GRATUITO,1.0,2021.0,1.126509e+07,5.5680,54.333333
1457,2021,10254,7,CENTRO EDUCACIONAL JOSE MIGUEL CARRERA,,69254800,1,13,RM,131,...,1,1,,GRATUITO,GRATUITO,2.0,2021.0,1.347067e+07,5.7825,53.333333
2304,2021,20475,7,ESCUELA BÁSICA N°208 ACADEMIA POLIVALENTE DE F...,,65155439,1,13,RM,136,...,1,9,,SIN INFORMACION,SIN INFORMACION,3.0,2021.0,1.292883e+07,5.4050,51.875000

In [15]:
conjunto[conjunto["RBD"] == 8485]

,AGNO,RBD,DGV_RBD,NOM_RBD,MRUN_x,RUT_SOSTENEDOR,P_JURIDICA,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,...,ESTADO_ESTAB,ORI_RELIGIOSA,ORI_OTRO_GLOSA,PAGO_MATRICULA,PAGO_MENSUAL,COD_DEPE_y,AGNO_EGRESO,MRUN_y,NEM,PERCENTIL
1031,2021,8485,9,LICEO INSTITUTO NACIONAL,,69070100,1,13,RM,131,...,1,1,,GRATUITO,GRATUITO,2.0,2021.0,1.266371e+07,6.301116,53.06184